.header{
    color: white;
    background-color: red;
}
body {
    background-color: yellow;
}
button {
    background-color: orange;
    font-size: 15px;
}
.box{
    height: 100px;
    width: 100px;
    background-color: rgb(241, 117, 28);
    border: 1px solid black;
    margin: 10px;
    text-align: center;
}
#con{
    height:200px;
    width: 150px;
    background-color: black;
    color:white;
    font-size: 30px;
}
.p1{
    background-color: aqua;
    color: red;
    font-size: 30px;
}
.newClass{
    background-color: aquamarine;
}